/* Defaults */
html {
  scroll-behavior: smooth;
}

@import url('reset.css');

/* Fonts */
.poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* General */
.container {
  padding: 1rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

a {
  color: red;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  list-style: none;
  gap: 1rem;
}

/* Main */
#hero {
  padding: 5rem 0;
}

#about,
#projects,
#contact {
  padding: 3rem 0;
  display: grid;
  gap: 1rem;
}

#hero h1 {
  font-size: 4rem;
}

#projects article {
  display: grid;
  gap: 1rem;
}

#projects h3 {
  grid-column: 1/-1;
}

#projects .project {
  min-height: 20rem;
  background-color: antiquewhite;
  border-radius: 1rem;
  padding: 1rem;
}

@media all and (min-width: 480px) {
  #projects article {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 780px) {
  #projects article {
    grid-template-columns: repeat(3, 1fr);
  }
}
